# Coding assignments

Here you'll find my solutions to assignments from various programming platforms.
I solve these problems in various programming languages for diversity.

| Language | Solved |
| -------- | -----: |
{% for lang, count in total -%}
| `{{ lang }}` | {{ count }} |
{% endfor -%}
| **Total** | **{{ total|map(attribute=1)|sum }}**

### Table: Number of problems solved on different platforms in each language

| X | {{ platforms }} |
| - | {{ ' -: |' * platforms_count }}
{% for lang in assignments.keys()|sort -%}
| `{{ lang }}` | {{ assignments[lang]|join(' | ') }} |
{% endfor %}
