# Coding assignments

Here you'll find my solutions to assignments from various programming platforms.
I solve these problems in various programming languages for diversity.

### Table: Number of problems solved on different platforms in each language

| X | {{ columns|join(' | ') }} | Total |
| - | {{ ' -: |' * (columns|length + 1) }}
{% for lang in assignments.keys()|sort -%}
| `{{ lang }}` | {{ assignments[lang]|join(' | ') }} | {{ total_rows[lang] }}
{% endfor -%}
| **Total** | {{ total_columns|join(' | ') }} | {{ TOTAL }} |
